
/* Reset de estilos padrão */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #00a550;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    text-align: center;
    margin-top: 10px; /* Ajuste de margem se necessário */
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos da seção principal */
.Meio {
    text-align: center;
    padding: 20px;
}

.imagem img {
    max-width: 100%;
    height: auto;
}

/* Estilos das categorias e produtos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h1, .product-card h3, .product-card p {
    margin: 10px;
}

.product-card .price {
    color: green;
    font-weight: bold;
}

.next-page {
    text-align: center;
    margin: 20px 0;
}

.next-page a {
    margin: 0 10px;
    text-decoration: none;
    color: #00a550;
    font-weight: bold;
}

/* Estilos do rodapé */
footer {
    background-color: #add8e6;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin:
