/* Reset de estilos padrão */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado box-sizing para melhorar o modelo de caixa */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6; /* Adicionado line-height para melhor legibilidade */
}

/* Estilos do cabeçalho */
header {
    background-color: #00a550;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
    color: #fff; /* Cor do texto */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
    align-items: center;
}

.header-title {
    flex: 1; /* Expande o título para ocupar o espaço restante */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Estilos do conteúdo */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilos dos cartões de produtos */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Adiciona borda arredondada às imagens */
}

.product-card h3 {
    margin-top: 10px; /* Aumenta o espaçamento entre o título e a imagem */
}

.product-card p.price {
    font-weight: bold; /* Destaca o preço */
    color: #00a550; /* Cor do preço */
}

/* Estilos para links */
a {
    color: #0077c2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para a página de produtos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.product-card {
    flex: 0 1 calc(100% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para dispositivos menores (media queries) */
@media only screen and (min-width: 768px) {
    .product-card {
        flex: 0 1 calc(33.33% - 20px);
    }
}

/* Estilos para o rodapé */
.footer {
    background-color: #00a550; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Espaçamento superior */
}
